<ion-content [fullscreen]="true">
  <!-- Nuvariz Cosmic Intro - Main Landing Page -->
  <app-nuvariz-intro (continue)="onNuvarizContinue()"></app-nuvariz-intro>

  <!-- Tartarus Prime Navigation (Floating Button) -->
  <div class="tartarus-nav">
    <a routerLink="/tartarus-prime" class="tartarus-button">
      <ion-icon name="planet"></ion-icon>
      Tartarus Prime
    </a>
  </div>

  <!-- Support Button (Discrete) -->
  <div class="support-nav">
    <a routerLink="/support" class="support-button">
      <ion-icon name="heart-outline"></ion-icon>
    </a>
  </div>
</ion-content>
