# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular/Ionic
.angular/
www/
dist/
.ionic/
coverage/
.sourcemaps/
.versions/

# OS
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# Editor
.vscode/
.idea/
*.swp
*.swo
