<div class="dev-console" [class.visible]="isVisible">
    <div class="console-body" #scrollContainer>
        <div class="log-entry" *ngFor="let log of logs" [ngClass]="log.type">
            <span class="message">{{ log.message }}</span>
        </div>
    </div>

    <div class="console-input-area">
        <span class="prompt">]</span>
        <input #inputField type="text" [(ngModel)]="inputValue" (keydown.enter)="onSubmit()"
            placeholder="" spellcheck="false" autocomplete="off">
    </div>
</div>
